# Application
IS_DEVELOPMENT=true
DEBUG=true
APP_PORT=8080
APP_ENV=development
JWT_SECRET=your-secret-key

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public
DB_QUERYSTRING=sslmode=disable
