# Application
IS_DEVELOPMENT=true
DEBUG=true
APP_ENV=development
APP_PORT=8080
JWT_SECRET=change-me

# Database
BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=ecommerce
BLUEPRINT_DB_USERNAME=postgres
BLUEPRINT_DB_PASSWORD=postgres
BLUEPRINT_DB_SCHEMA=public
BLUEPRINT_DB_DIALECT=postgres
BLUEPRINT_MIGRATION_DIR=migrations
